@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>BookSheet Transaction Migration Service</h1>
</div>
<div class=".container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" data-bind="foreach: transactions">
                <div class="panel-heading">
                    <h2 class="panel-title">Transaction <span data-bind="text: transactionId"></span> in event <span data-bind="text: eventId"></span></h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">SellerID</div>
                        <div class="col-md-3">BuyerID</div>
                        <div class="col-md-3">BuyerContactID</div>
                        <div class="col-md-1">Year</div>
                        <div class="col-md-2">Make</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <select data-bind="foreach: sellers, value: sellerDealerId" size="4">
                                <option data-bind="text: companyName, value: dealerId"></option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select data-bind="foreach: buyers, value: buyerDealerId" size="4">
                                <option data-bind="text: companyName, value: dealerId"></option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select data-bind="foreach: buyerContacts, value: buyerContactId" size="4">
                                <option data-bind="text: name, value: contactId"></option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <span data-bind="text: year"></span>
                        </div>
                        <div class="col-md-2">
                            <span data-bind="text: make"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Model</div>
                        <div class="col-md-1">Bid Amount</div>
                        <div class="col-md-1">Transport Fee</div>
                        <div class="col-md-3">VIN</div>
                        <div class="col-md-3">soldDate</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span data-bind ="text: model"></span>
                        </div>
                        <div class="col-md-1">
                            <input data-bind="value: bidAmount"/>
                        </div>
                        <div class="col-md-1">
                            <input data-bind="text: transportFee"/>
                        </div>
                        <div class="col-md-3">
                            <span data-bind="text: vin"></span>
                        </div>
                        <div class="col-md-3">
                            <span data-bind="text: soldDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button data-bind="click: importSale, enable: importable">Import</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Seller Information</h2>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Buyer Information</h2>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>