<div class="row">
    <div class="col-md-7">
        <!--ko paging-control: { viewModel: this, pageIndex: pageIndex, itemCount: itemCount, perPage: perPage }--><!--/ko-->
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-9">
                @{ Html.RenderPartial("_Filter");}
            </div>
            <div class="col-md-3">
                <input type="button" value="Migrate" data-toggle="modal" data-target="#migrateModal"/>
                @{ Html.RenderPartial("_MigrateWindow");}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("_SelectUpdateImport");}
            </div>
        </div>
    </div>
</div>