<div class="row">
    <div class="col-md-5">
        <button data-bind="click: selectAll">Select All</button>
        <button data-bind="click: selectNone">Select None</button>
    </div>
    <div class="col-md-7">
        <button data-bind="click: updateSelected">Update Selected</button>
        <button data-bind="click: importSelected, enable: isNotImporting">Import Selected</button>
    </div>
</div>